<div class="row">
  
  <div class="col-sm-6">

    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <h2 class="text-center text-primary">Registrar Doctores</h2>
      <hr>

      <div class="form-group">
        <input type="text"
          [ngClass]="{'is-invalid': registerForm.get('nombreCompleto').errors
            && registerForm.get('nombreCompleto').touched}"
          class="form-control"
          formControlName="nombreCompleto"
          placeholder="Nombre Completo">
        <div class="invalid-feedback">Por favor ingrese su nombre completo.</div>
      </div>

      <div class="form-group">
        <input type="text" [ngClass]="{'is-invalid': registerForm.get('especialidad').errors
          && registerForm.get('especialidad').touched}" class="form-control"
          placeholder="Especialidad" formControlName="especialidad">
        <div class="invalid-feedback" *ngIf="registerForm.get('especialidad').touched
          && registerForm.get('especialidad').hasError('required')">La especialidad es requerida.</div>
      </div>

      <div class="form-group">
        <input type="number" [ngClass]="{'is-invalid': registerForm.get('numeroCredencial').errors &&
          registerForm.get('numeroCredencial').touched}" class="form-control"
          placeholder="Numero Credencial" formControlName="numeroCredencial">
        <div class="invalid-feedback" *ngIf="registerForm.get('numeroCredencial').touched &&
          registerForm.get('numeroCredencial').hasError('required')">El numero de credencial es requerido.</div>
      </div>

      <div class="form-group">
        <input type="text" [ngClass]="{'is-invalid': registerForm.get('hospitalTrabaja').errors &&
          registerForm.get('hospitalTrabaja').touched}" class="form-control"
          placeholder="Hospital donde trabaja" formControlName="hospitalTrabaja">
        <div class="invalid-feedback" *ngIf="registerForm.get('hospitalTrabaja').touched
          && registerForm.get('hospitalTrabaja').hasError('required')">El hospital donde trabaja es requerido.</div>
      </div>

      <div class="form-group text-center">
        <button class="btn btn-success" [disabled]="!registerForm.valid" type="submit">Registrar</button>
        <button class="btn btn-default" type="button" (click)="cancel()">Cancelar</button>
      </div> 

      <ng-template #myModalConf let-modal>

        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Registro exitoso</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close('Cerrado desde la ventana')"> 
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
            Doctor guardado exitosamente
          </div>
          <div class="modal-footer">      
            <button type="button" class="btn btn-primary" (click)="modal.close('Si')">Aceptar</button>
          </div>
        </div>
      </ng-template>
    </form>
  </div>
  <div class="col-sm-6 mt-5">
    <table class="table table-striped" >
      <thead>
        <tr>
          <th></th>
          <th scope="col">Nombre Completo</th>
          <th scope="col">Especialidad</th>
          <th scope="col">Numero Credencial</th>
          <th scope="col">Hospital donde trabaja</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let paciente of pacientes">
          <td><input type="checkbox" id="idDoc" value="{{ paciente.idPaciente }}"
              (click)="agregarQuitarSeleccion(paciente.idPaciente)"/></td>          
          <td>{{ paciente.nombreCompleto }}</td>
          <td>{{ paciente.numSeguroSocial }}</td>
          <td>{{ paciente.codigoPostal }}</td>
          <td>{{ paciente.telefono }}</td>
        </tr>
      </tbody>
    </table>
  </div>                        
</div>