<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="text-align: center">
      <h1>Modulo de pacientes</h1>
      <br>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio"  name="inlineRadioOptions" (click)="registrar()" id="inlineRadio1" value="1">
        <label class="form-check-label" for="inlineRadio1">Registrar</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" [routerLink]="['/editarPacientes']" (click)="editar()" id="inlineRadio2" value="2">
        <label class="form-check-label" for="inlineRadio2" >Editar</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" (click)="eliminar()" [routerLink]="['/eliminarPacientes']" id="inlineRadio2" value="3">
        <label class="form-check-label" for="inlineRadio2" >Eliminar</label>
      </div>
      <div *ngIf="radio==1" class="text-align: center">
        <app-registrar-paciente></app-registrar-paciente>
      </div> 
      <div *ngIf="radio==2" class="text-align: center">
        <app-editar-paciente></app-editar-paciente>
      </div> 
      <div *ngIf="radio==3" class="text-align: center">
        <app-eliminar-pacientes></app-eliminar-pacientes>
      </div> 
    </div>
  </div>
</div>